
<form class="form-horizontal" novalidate="novalidate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">×</span>
                    </button>
                    延迟
                </div>
            </div>
            <div class="modal-body no-padding nothing">
                <div class="popWinStyle">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">延迟原因： </label>
                        @Html.DropDownList("DelayReason", ViewData["RepairDelayReasonList"] as SelectList, new { @class = "col-xs-10 col-sm-5" })
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">延迟时间： </label>
                        @Html.TextBox("EstimatedHour", null, new { @class = "col-xs-10 col-sm-5" })小时后完成
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">备注： </label>
                        @Html.TextArea("Remarks", null, 5, 5, new { @class = "col-xs-10 col-sm-5", @placeHolder = "您还可以在此添加其他备注信息" })
                    </div>
                </div>
            </div>
            <div class="ui-btngroup">
                <a href="javascript:void(0)" class="btn btn-xs btn-success btn-font  btnDelay">保存</a>
                <a href="javascript:void(0)" class="btn btn-xs btn-font btn-cancel" data-dismiss="modal" aria-hidden="true">取消</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</form>
<script type="text/javascript">
    $(function () {
        ///保存延迟信息
        $(".btnDelay").click(function () {
            var assignInfo = {};
            assignInfo.RepairId = $("#HiddRepairId").val();
            assignInfo.EstimatedFinishTime = $("#EstimatedFinishTime").text();
            assignInfo.EstimatedHour = $("#EstimatedHour").val().trim();
            assignInfo.DelayReason = $("#DelayReason").find("option:selected").text();
            assignInfo.Remarks = $("#Remarks").val();

            $.ajax({
                url: "@Url.Action("Delay", "Repair", new { area = "Estate" }, null)",
                type: "POST",
                data: assignInfo,
                dataType: "JSON",
                cache: false,
                success: function (result, status) {
                    if (result.IsSuccess) {
                        var url = "@Url.Action("Detail", "Repair", new { area="Estate"},null)";
                        url += "?repairID=" + assignInfo.RepairId;
                        location.href = url;
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });

    });


</script>
