@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Estate.ComplaintCommentListModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}

<div class="page-content">
    <div class="page-content-area">
        <div class="page-header">
            <h1>评价管理</h1>
        </div><!-- /.page-header -->
        <div class="screen-area">
            <form class="queryInfo">
                <dl class="list-screen">
                    <dt>投诉编号：</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.QueryInfo.ComplaintId, null, new { id = "queryComplaintId" })
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>客服负责人：</dt>
                    <dd>
                        @Html.DropDownListFor(m => m.QueryInfo.ServiceUserId, ViewData["ServiceUserList"] as SelectList, "请选择", new { style = "width:160px", @class = "form-control" })
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>投诉类型：</dt>
                    <dd>
                        @Html.DropDownListFor(m => m.QueryInfo.ComplaintType, ViewData["ComplaintTypeList"] as SelectList, "请选择", new { style = "width:160px", @class = "form-control" })
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>时间：</dt>
                    <dd class="input-merge input-daterange input-group">
                        @Html.TextBoxFor(m => m.QueryInfo.FromDate, null, new { id = "FromDate", @class = "input-sm iconTime" })
                        <b>-</b>
                        @Html.TextBoxFor(m => m.QueryInfo.ToDate, null, new { id = "ToDate", @class = "input-sm iconTime" })                        
                    </dd>
                </dl>

                <div class="result-btn">
                    @Html.HiddenFor(m => m.QueryInfo.Page, new { id = "queryPageIndex" })
                    <a class="btn btn-xs btn-success btn-font" id="lnkSearch" href="javascript:void(0);">查询</a>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="lighter mt30">
                    评价列表
                </h4>
                <div class="hr hr-18 hr-double dotted"></div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>@Html.SortLink("评价编号", "CommentId")</td>
                            <th>@Html.SortLink("投诉单编号", "ComplaintId")</th>
                            <th>客服人员</th>
                            <th>响应速度</th>
                            <td>投诉结果</td>
                            <th>服务态度</th>
                            <th>平均分</th>
                            <th>评价</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CommentListInfo)
                        {
                            <tr>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-link btn-font comment" data-id="@item.CommentId">@item.CommentId</a>
                                </td>
                                <td>
                                    @Html.ActionLink(item.ComplaintId.ToString(), "Detail", "Complaint", new { area = "Estate", complaintId = item.ComplaintId }, new { @class = "btn btn-link btn-font" })
                                </td>
                                <td>@item.ServiceUserName</td>
                                <td>@item.Speed</td>
                                <td>@item.Quality</td>
                                <td>@item.Attitude</td>
                                <td>@item.Overall</td>
                                <td>@item.Comment</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{Html.RenderPartial("_PartialPaging", Model.PagingInfo);}
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content-area -->
</div>
<div id="modal" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;"></div>

<script type="text/javascript">
    $(function () {
        new nhhui.nhhtable({
            searchBtn: "lnkSearch",
            sortBy: "@Model.QueryInfo.OrderBy",
            sortMode: "@Model.QueryInfo.OrderMode",
            url: "@Url.Action("CommentList", "Complaint", new { area = "Estate" })",
            onInit: function () {
                return getRequestData();
            },
        }).init();
    });
    //评论详情
    $(".comment").click(function () {
        var commentId = $(this).attr("data-id");
        $.ajax({
            url: "@Url.Action("CommentDetail", "Complaint", new { area = "Estate" })",
            data: "commentId=" + commentId,
            dataType: "HTML",
            success: function (result, status) {
                $("#modal").html(result).modal();
            }
        });
    });
    var getRequestData = function () {
        var requestData = {};
        requestData.ComplaintId = $("#queryComplaintId").val();
        requestData.ServiceUserId = $("#QueryInfo_ServiceUserId").val();
        requestData.ComplaintType = $("#QueryInfo_ComplaintType").val();
        requestData.FromDate = $("#FromDate").val();
        requestData.ToDate = $("#ToDate").val();
        return requestData;
    };
</script>
