@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Configure.SysRoleListModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}

<div class="page-content">
    <div class="page-content-area">
        <div class="page-header">
            <h1>角色信息</h1>
        </div>
    </div>
    <div class="screen-area" style="height:40px">
        <form>
            <div class="result-btn">
                <a class="btn btn-xs btn-success btn-font" href="@Url.Action("Add", "Role", new {area ="System" })">新建</a>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <h4 class="lighter mt30">
                角色列表
            </h4>
            <div class="hr hr-18 hr-double dotted"></div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>角色编号</th>
                        <th>角色名称</th>
                        <th class="col-lg-2">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RoleList)
                    {
                        <tr>
                            <td>@item.RoleId</td>
                            <td>@item.RoleName</td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink("菜单管理", "Edit", "RoleMenu", new { area = "System", roleId = item.RoleId }, new { @class = "btn btn-xs btn-success btn-font" })
                                    @Html.ActionLink("功能管理", "Edit", "Role", new { area = "System", roleId = item.RoleId }, new { @class = "btn btn-xs btn-success btn-font" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content-area -->
