@model NHH.Models.Contract.PaymentTermInfo

<h4 class="lighter">租金</h4>
<a class="edit-btn-canl" href="javascript:void(0);" id="lbtnRentPaymentInfo">取消编辑</a>
<dl class="form-content form-content-edit form-row-comb">
    <dd>
        <label>租赁方式：</label>
        <span>@Html.DropDownList("PaymentTermsType", ViewData["PaymentTermsTypeList"] as SelectList)</span>
    </dd>
    <dd>
        <label>租押方式：</label>
        <span>押 @Html.TextBox("DepositMonthly", Model.DepositMonthly, new { style = "width:50px;" }) 付 @Html.TextBox("PaymentPeriod", Model.PaymentPeriod, new { style = "width:50px;" })</span>
    </dd>
    <dd>
        <label>月租金：</label>
        <span>@Html.TextBox("PaymentMonthlyAmount", Model.PaymentMonthlyAmount.ToString("0.00")) 元/月</span>
    </dd>
    <dd>
        <label>日租金：</label>
        <span>@Model.PaymentDailyAmount.ToString("0.00") 元/天/平方米</span>
    </dd>
</dl>
<div class="clear"></div>
<dl class="form-content textstyle-edit form-content-edit form-row-comb">
    <dt><i>保底租金</i></dt>
    <dd>
        <label>年度租金：</label>
        <span>
            @if (Model.IncreaseInfo != null && Model.IncreaseInfo.IncreaseList != null)
            {
                <table style="display:inline-block" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <th width="100">年度</th>
                        <th>租金标准（元/月/平方米）</th>
                        <th>月度租金（元/月）</th>
                        <th>年度租金（元/年）</th>
                    </tr>
                    @foreach (var increase in Model.IncreaseInfo.IncreaseList)
                    {
                        <tr>
                            <td>
                                <span>@increase.YearNum</span>
                            </td>
                            <td>@increase.PaymentMonthlyAmount.ToString(".00")</td>
                            <td>@Html.Raw((increase.PaymentMonthlyAmount * Model.ContractArea).ToString(".00"))</td>
                            <td>@Html.Raw((increase.PaymentMonthlyAmount * Model.ContractArea * 12).ToString(".00"))</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                @Html.Raw("无")
            }
        </span>
    </dd>
</dl>

<div class="clear"></div>

<dl class="form-content textstyle-edit form-content-edit form-row-comb">
    <dt><i>扣点租金</i></dt>
    <dd>
        <label>是否税后：</label>
        <span>
            @Html.Raw(Model.CommissionInfo.WithTax == 1 ? "税后" : "税前")
        </span>
    </dd>
    <dd>
        <label>按营业额扣点：</label>
        <span>
            @if (Model.CommissionInfo != null && Model.CommissionInfo.AmountList != null)
            {
                <table style="display:inline-block;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th width="300">营业额</th>
                        <th>扣点比例</th>
                    </tr>
                    @foreach (var amount in Model.CommissionInfo.AmountList)
                    {
                        <tr>
                            <td>
                                <span>@amount.Amount2.ToString(".00") 元</span>
                            </td>
                            <td>@amount.Rate.ToString("0%")</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                @Html.Raw("无")
            }
        </span>
    </dd>
    <dd>
        <label>按营业年限扣点：</label>
        <span>
            @if (Model.CommissionInfo != null && Model.CommissionInfo.TimeList != null)
            {
                <table style="display:inline-block;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th width="300">年度</th>
                        <th>扣点比例</th>
                    </tr>
                    @foreach (var time in Model.CommissionInfo.TimeList)
                    {
                        <tr>
                            <td>
                                <span>@time.YearNum</span>
                            </td>
                            <td>
                                @if (time.DiscountRateList != null)
                                {
                                    foreach (var disc in time.DiscountRateList)
                                    {
                                        <span>@Html.Raw(disc.Discount2 * 10) 折</span>
                                        <span>扣点 @disc.Rate.ToString("0%") </span>
                                    }
                                }
                                else
                                {
                                    <span>
                                        @time.Rate.ToString("0%")
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                @Html.Raw("无")
            }
        </span>
    </dd>
</dl>
<div class="btn-edit">
    <a href="###" class="btn btn-info mr20" id="btnRentPaymentInfo">保存信息</a>
    <a href="###" class="btn cancelEditRentPaymentInfo">取消编辑</a>
</div>
<script type="text/javascript">
    $("#lbtnRentPaymentInfo").click(function () {
        var url = "@Url.Action("RentPaymentInfo", "ContractInfo", new { area = "Contract" })";
        url += "?contractId=" + $("#ContractID").val();
        $("#rentPaymentInfo").load(url);
    });
    $(".cancelEditRentPaymentInfo").click(function () {
        var url = "@Url.Action("RentPaymentInfo", "ContractInfo", new { area = "Contract" })";
        url += "?contractId=" + $("#ContractID").val();
        $("#rentPaymentInfo").load(url);
    });
    $("#btnRentPaymentInfo").click(function () {
        var paymentInfo = {};
        paymentInfo.ContractID = $("#ContractID").val();
        paymentInfo.PaymentTermsType = $("#PaymentTermsType").val();
        paymentInfo.DepositMonthly = $("#DepositMonthly").val();
        paymentInfo.PaymentPeriod = $("#PaymentPeriod").val();
        paymentInfo.PaymentMonthlyAmount = $("#PaymentMonthlyAmount").val();
        var url = "@Url.Action("UpdateRentPaymentInfo", "ContractMgmt", new { area = "Contract" })";
        $("#rentPaymentInfo").load(url, paymentInfo, function (response, status, xhs) {
            $(this).html(response);
        });
    });
</script>
<div class="clear"></div>