@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Configure.SysUserPasswordModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}
<div class="page-content">
    <div class="page-header">
        <h1>密码修改</h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Password", "User", new { area = "System" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", novalidate = "novalidate" }))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                    <div class="col-sm-9">
                        <span class="defauletext red" id="statusText">@(Model.StatusText == null ? "您正在修改密码" : Model.StatusText)</span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="req">*</span>原密码： </label>
                    <div class="col-sm-9 input-merge">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "col-xs-10 col-sm-5" })
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle red">
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="req">*</span>新密码： </label>
                    <div class="col-sm-9 input-merge">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "col-xs-10 col-sm-5" })
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle red">
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="req">*</span>确认新密码： </label>
                    <div class="col-sm-9 input-merge">
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "col-xs-10 col-sm-5" })
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle red">
                                @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                    <div class="col-sm-9">
                        <input class="btn btn-xs btn-success btn-font input-btn" type="submit" value="保存" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
