@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Official.Kiosk.NHHCGKioskModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}

<div class="page-content">
    <div class="page-header">
        <h1>官网多经点位编辑</h1>
    </div>
    <div class="rowA">
        <div class="col-xs-12">
            @using (Html.BeginForm("EditKiosk", "NHHCG", new { area = "Official" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属项目： </label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.ProjectID, ViewData["ProjectList"] as SelectList, new { @class = "col-xs-10 col-sm-5" })
                        <span class="help-inline col-xs-12 col-sm-7 middle red">
                            @Html.ValidationMessage("ProjectID")
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>楼别： </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Building, new { @class = "col-xs-10 col-sm-2" })
                        <span class="help-inline col-xs-12 col-sm-7 middle red">
                            @Html.ValidationMessage("Building")
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>楼层： </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.FloorID, new { @class = "col-xs-10 col-sm-1" })
                        <span class="help-inline col-xs-12 col-sm-7 middle red">
                            @Html.ValidationMessage("FloorID")
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 区域： </label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Region, ViewData["RegionList"] as SelectList, new { @class = "col-xs-10 col-sm-2" })
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>多经点位号： </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.KioskNumber, "", new { @class = "col-xs-10 col-sm-5" })
                        <span class="help-inline col-xs-12 col-sm-7 middle red">
                            @Html.ValidationMessage("KioskNumber")
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 经营范围： </label>
                    <div class="col-sm-9">
                        <ul id="ComplaintTypeCb">
                            @foreach (SelectListItem item in ViewData["BusinessScopeList"] as SelectList)
                            {
                                var ischecked = "";
                                if (@Model.BusinessScopeList.Contains(Convert.ToInt32(item.Value)))
                                {
                                    ischecked = "checked='checked'";
                                }
                                <li style="margin-top: 15px; width: 100px; float:left;"><input name="BusinessScopeList" type="checkbox" value="@item.Value" @ischecked />@item.Text</li>

                            }
                        </ul>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 面积范围： </label>
                    <div class="col-sm-9">
                       @Html.DropDownListFor(m => m.AreaScope, ViewData["KioskAreaScopeList"] as SelectList, new { @class = "col-xs-10 col-sm-2" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 租金： </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.RentRemark, "", new { @placeholder = "例：100/天/平米，不填为“暂无”", @class = "col-xs-10 col-sm-3" })
                        <span class="help-inline col-xs-12 col-sm-7 middle red">
                            @Html.ValidationMessage("RentRemark")
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>联系人与电话： </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Contacts, "", new { @placeholder = "例：张三（13912345678）", @class = "col-xs-10 col-sm-5" })
                        <span class="help-inline col-xs-12 col-sm-7 middle red">
                            @Html.ValidationMessage("Contacts")
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>位置描述： </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Position, "", new { @class = "col-xs-10 col-sm-5" })
                        <span class="help-inline col-xs-12 col-sm-7 middle red">
                            @Html.ValidationMessage("Position")
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>状态： </label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Status, ViewData["StatusList"] as SelectList, new { @class = "col-xs-10 col-sm-2" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                    <div class="col-sm-9">
                        <button class="btn btn-xs btn-success btn-font" type="submit" id="btnSubmit">保存</button>
                    </div>
                </div>
                @Html.Hidden("KioskID", Model.KioskID)
            }
        </div>
    </div>
</div>
<div class="col-5" id="infoList">
    @{Html.RenderAction("PicInfoList", new { area = "Official", refID = Model.KioskID, Type = 3,Title = "多经点位图片列表" });}
</div>
