@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Official.ADPosition.NHHCGADPositionModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}


<div class="rowA">
    <div class="col-5">
        <h4 class="lighter mb20">
            广告位编号：<span style="color:brown">@Model.ADPositionNumber</span>
        </h4>
        <h4 class="lighter mb20">
            租赁状态：
            @switch (Model.Status)
            {
                case 1:
                    <span style="color: red">@Model.StatusStr </span>
                    break;
                case 2:
                <span style="color: green">@Model.StatusStr </span>
                    break;
                case 3:
                <span style="color: blue">@Model.StatusStr </span>
                    break;
            }
        </h4>
        <div class="hr hr-18 hr-double dotted"></div>
        <h4 class="lighter">广告位信息</h4>
        <dl class="form-content form-content-edit form-row-comb">
            <dd>
                <label>广告位类型：</label>
                @Model.ADTypeName
            </dd>
            <dd>
                <label>所属项目：</label>
                @Model.ProjectName
            </dd>
            <dd>
                <label>楼别：</label>
                @Model.Building
            </dd>
            <dd>
                <label>楼层描述：</label>
                @Model.FloorRemark
            </dd>
            <dd>
                <label>区域：</label>
                @Model.RegionName
            </dd>
            <dd>
                <label>规格：</label>
                @Model.Size
            </dd>
            <dd>
                <label>展位特色：</label>
                @Model.Feature
            </dd>
            <dd>
                <label>电费承担类型：</label>
                @Model.ElectricityTypeName
            </dd>
            <dd>
                <label>租金：</label>
                @Model.RentRemark
            </dd>
            <dd>
                <label>联系人与电话：</label>
                @Model.Contacts
            </dd>
        </dl>
        <div class="clear"></div>
    </div>
    <div class="col-5">
        <h4 class="lighter mb20">
            位置描述
        </h4>
        @Model.Position
    </div>

</div>
<div class="col-5">
    <h4 class="lighter mb20">
        图片列表
    </h4>
    <div class="uploadimg" id="ImageList">
        @foreach (var item in Model.PicList.OrderBy(a => a.Seq))
        {
            <dl id='img-@item.PicID'>
                <dd>
                    <a href="@NHH.Framework.Utility.UrlHelper.GetImageUrl(item.Path)" data-rel="colorbox">
                        <img class='ImageItem' src='@NHH.Framework.Utility.UrlHelper.GetImageUrl(item.Path,100)' data-filepath='@item.Path'>
                    </a>
                </dd>
            </dl>
        }
    </div>
</div>
<div id="modal" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;"></div>
<script src="~/Scripts/ImagePopUp.js"></script>