@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Merchant.MerchantDetailModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}

<style type="text/css">
    .uploadify-queue {
        display: none;
    }
</style>
<div class="page-content">
    <!-- page-content -->
    <div class="page-content-area">
        <div class="page-header">
            <h1>编辑商户</h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                @using (Html.BeginForm("Edit", "Merchant", new { area = "Plan" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", novalidate = "novalidate" }))
                {
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>商户类型： </label>
                        <div class="col-sm-9 input-merge">
                            <ul>
                                <li>
                                    <label>
                                        @Html.RadioButton("MerchantType", "1")
                                        公司
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        @Html.RadioButton("MerchantType", "2", true)
                                        自然人
                                    </label>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>名称： </label>
                        <div class="col-sm-9">
                            @Html.TextBox("MerchantName", Model.MerchantName, new { @class = "col-xs-10 col-sm-5", disabled = "disabled" })
                        </div>
                    </div>
                    <!-- Default Form -->
                    <div class="space-4"></div>


                    <!-- Success Form -->
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>中文简称： </label>
                        <div class="col-sm-9 input-merge">
                            @Html.TextBox("BriefName", Model.BriefName, new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("BriefName")
                                </span>
                            </span>
                        </div>
                    </div>

                    <!-- double input Form -->
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>详细地址： </label>
                        <div class="col-sm-9 input-merge">
                            @Html.DropDownList("ProvinceId", ViewData["MerchantProvince"] as SelectList, "省份", new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("ProvinceId")
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                        <div class="col-sm-9 input-merge">
                            @Html.DropDownList("CityId", ViewData["MerchantCity"] as SelectList, "市", new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("CityId")
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                        <div class="col-sm-9 input-merge">
                            @Html.TextBox("AddressLine", null, new { @class = "col-xs-10 col-sm-5", placeHolder = "例子：南京路XX号717室" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("AddressLine")
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- Default Form -->
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮政编码： </label>

                        <div class="col-sm-9 input-merge ">@Html.TextBox("Zipcode", Model.Zipcode, new { @class = "col-xs-10 col-sm-5" })</div>
                    </div>
                    <!-- Default Form -->
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2"><span class="req">*</span>联系人身份证号码： </label>

                        <div class="col-sm-9">
                            @Html.TextBox("ContactIDNumber", Model.ContactIDNumber, new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("ContactIDNumber")
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- Password Form -->
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"><span class="req">*</span>联系人邮箱： </label>

                        <div class="col-sm-9">
                            @Html.TextBox("ContactEmail", Model.ContactEmail, new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("ContactEmail")
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- Disable Form -->
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-5"> <span class="req">*</span>联系人电话： </label>

                        <div class="col-sm-9">
                            @Html.TextBox("ContactPhone", Model.ContactPhone, new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("ContactPhone")
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- Grid Sizing Form -->
                    <div class="space-4"></div>

                    <!-- Default Select Form -->

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-6"> <span class="req">*</span>银行帐号： </label>

                        <div class="col-sm-9">
                            @Html.TextBox("BankAccount", Model.FinanceInfo.BankAccount, new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("BankAccount")
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- help Form -->

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-tags"> <span class="req">*</span>开户银行： </label>

                        <div class="col-sm-9">
                            @Html.TextBox("BankName", Model.FinanceInfo.BankName, new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("BankName")
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-tags"> <span class="req">*</span>开户支行： </label>

                        <div class="col-sm-9">
                            @Html.TextBox("SubBranch", Model.FinanceInfo.SubBranch, new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("SubBranch")
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- tag Form -->

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-tags"> <span class="req">*</span>开户名称： </label>
                        <div class="col-sm-9">
                            @Html.TextBox("AccountName", Model.FinanceInfo.AccountName, new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">
                                    @Html.ValidationMessage("AccountName")
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-tags"> 支付宝帐号： </label>
                        <div class="col-sm-9">
                            @Html.TextBox("AlipayAccount", Model.FinanceInfo.AlipayAccount, new { @class = "col-xs-10 col-sm-5" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-tags">微信支付账号： </label>
                        <div class="col-sm-9">
                            @Html.TextBox("WechatAccount", Model.FinanceInfo.WechatAccount, new { @class = "col-xs-10 col-sm-5" })

                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 身份证：</label>

                            <div class="col-sm-9 ">
                                <a class="btn btn-add btn-font upload-btn">
                                    <div class="load-text">上传图片</div>
                                    <div class="input-wrap" data-type="4">
                                        <input type="button" class="webuploader-invisible" id="btnUpload">
                                    </div>
                                </a>
                                <p class="muted">图片大小不能超过2M，图片类型为jpg,png</p>
                                <div class="uploadimg">
                                    <dl>
                                        <dd>
                                            @if (Model.MerchantAttachmentModel.IdCertificate.Path == null)
                                            {
                                                <img src="~/Content/assets/images/default-img.jpg" class="imgIdMap" />

                                            }
                                            else
                                            {
                                                <img src="@Model.MerchantAttachmentModel.IdCertificate.Path" class="imgIdMap" />
                                            }
                                        </dd>
                                    </dl>
                                </div>
                            </div>


                        </div>*@

                    <div class="space-4"></div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <input class="btn btn-xs btn-success btn-font input-btn formsubmit" type="submit" value="提交信息" />
                            &nbsp; &nbsp; &nbsp;
                            <input class="btn btn-xs btn-font btn-cancel" type="reset" value="重置" />
                            &nbsp; &nbsp; &nbsp;
                            <a class="btnDelete btn btn-xs btn-del btn-font formsubmit" data-mid=@Model.MerchantId href="javascript:void(0)">作废</a>

                        </div>
                    </div>
                    @Html.Hidden("MerchantId", Model.MerchantId)
                    @Html.Hidden("MerchantName")

                    @Html.Hidden("LicenseId", "0")
                    @Html.Hidden("RegisterProvinceId", "0")
                    @Html.Hidden("RegisterCityId", "0")
                    @Html.Hidden("RegisterAddressLine", "0")
                    @Html.Hidden("OwnerName", "0")
                    @Html.Hidden("FinanceContact", "0")
                    @Html.Hidden("FinancePhone", "0")
                    @Html.Hidden("ContactName", "0")
                    @Html.Hidden("MerchantCode", "0")
                }
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content-area -->
    </div>
</div>

<link href="~/Scripts/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/uploadify/jquery.uploadify.js"></script>
<script language="javascript" type="text/javascript">

    $(function () {
        beforeUnload.config.enable = true;
        //点击公司类型事件
        $("input[name='MerchantType']").click(function () {
            var merchantType = $(this).val();
            var merchantId = $("#MerchantId").val();
            if (merchantType == 1) {
                var url = "@Url.Action("Edit", "Merchant", new { area = "Plan" }, null)";
                url += "?merchantId=" + merchantId
                location.href = url;
            }
        })

    });

    var bindCityList = function (provinceId, cityId) {
        var provinceID = $("#" + provinceId).val();
        var cityID = $("#" + cityId);
        if (provinceID != null && provinceID != undefined && provinceID != "") {
            $.ajax({
                url: "@Url.Action("GetCityList", "Common", new { area = "Ajax" })",
                data: { provinceID: provinceID },
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                cache: false,
                async: true,
                success: function (data) {
                    cityID.empty();
                    var optionTopValue = "<option value=''>" + "市" + "</option>";
                    cityID.append(optionTopValue);
                    var optionValue = "";
                    data.forEach(function (item) {
                        optionValue += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                    })
                    cityID.append(optionValue);
                },
                complete: function () {
                },
                error: function (xhr, status, error) {
                    alert(xh.status);
                }
            })
        }
    };

    $("#ProvinceId").change(function () {
        bindCityList("ProvinceId", "CityId");
    });

    $(".btnDelete").click(function () {
        var btn = $(this);
        nhhui.confirm("确定要作废吗？作废后将不能恢复", function () {
            var merchantId = btn.attr("data-mid");
            var url = "@Url.Action("Del", "Merchant", new { area = "Plan" }, null)";
            location.href = url + "?merchantId=" + merchantId;
        });
    });
</script>
