@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model NHH.Models.Project.ProjectUnit.ProjectUnitInitModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}


<div class="page-content">
    <div class="page-content-area">
        <div class="page-header">
            <h1>
                铺位初始化
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-warning">
                    注：铺位编号由4段组成，规则：前缀+楼层数+长度不足时，补充0+铺位数字；如：J108，表示前缀为J的1楼第8个铺位。
                </div>
                @using(Html.BeginForm("Init", "ProjectUnit", FormMethod.Post, new { @class = "form-horizontal", novalidate = "novalidate" }))
                {
                <div class="form-group">
                    <label class="col-lg-3 control-label"> 选择项目： </label>
                    <div class="col-lg-9">
                        @Html.DropDownList("ProjectId", ViewData["ProjectList"] as SelectList, "请选择")
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"> 选择楼层：</label>
                    <div class="col-lg-9">
                        <select id="FloorId">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3"> 铺位编号前缀：</label>
                    <div class="col-lg-9">
                        @Html.TextBox("UnitPrefix", "", new { placeholder = "铺位号前缀，可为空" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3"><span class="req">*</span>铺位编号长度：</label>
                    <div class="col-lg-9">
                        @Html.TextBox("UnitCodeLength", Model.UnitCodeLength, new { placeholder = "铺位数字不足时，补充0" })
                        <span class="help-block">
                            除前缀，楼层数以外的长度，铺位数字不足时，补充0
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3"><span class="req">*</span>起始编号：</label>
                    <div class="col-lg-9">
                        @Html.TextBox("StartNumber", Model.StartNumber, new { placeholder = "铺位起始编号" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3"><span class="req">*</span>铺位数量：</label>
                    <div class="col-lg-9">
                        @Html.TextBox("UnitNumber", "", new { placeholder = "该楼层的铺位总数量" })
                    </div>
                </div>
                <div class="space-4 clear"></div>
                <div class="clearfix form-actions">
                    <div class="col-lg-offset-3 col-lg-9">
                        <input type="button" id="btnSubmit" class="btn btn-xs btn-success btn-font input-btn" value="初始化铺位" />
                    </div>
                </div>
                <div class="alert hide" id="resultBox"></div>
                }
            </div>
        </div><!-- /.row -->
    </div><!-- /.page-content-area -->
</div>
<script type="text/javascript">
    $(function () {
        $("#ProjectId").change(function () {
            var projectId = $(this).val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllFloor", "Project", new { area = "Ajax" })",
                data: "projectId=" + projectId,
                dataType: "JSON",
                success: function (data, status) {
                    var number = data.length;
                    var strHtml = "<option value=''>请选择</option>";
                    for (var n = 0; n < number; n++) {
                        strHtml += "<option value=\"" + data[n].FloorId + "\">" + data[n].FloorName + "</option>";
                    }
                    $("#FloorId").html(strHtml);
                },
            });
        });

        $("#btnSubmit").click(function () {
            var requestData = {};
            requestData.ProjectId = $("#ProjectId").val();
            requestData.FloorId = $("#FloorId").val();
            requestData.UnitPrefix = $("#UnitPrefix").val();
            requestData.UnitCodeLength = $("#UnitCodeLength").val();
            requestData.UnitNumber = $("#UnitNumber").val();
            requestData.StartNumber = $("#StartNumber").val();

            $.ajax({
                url: "@Url.Action("Init", "ProjectUnit", new { area="Ajax"})",
                type: "POST",
                data: requestData,
                dataType: "JSON",
                success: function (result, status) {
                    var resultBox = $("#resultBox").html(result.Message).removeClass("hide");
                    if (result.IsSuccess) {
                        resultBox.removeClass("alert-danger").addClass("alert-success");
                    }
                    else {
                        resultBox.removeClass("alert-success").addClass("alert-danger");
                    }
                }
            });
        });
    });
</script>