@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Common.ReportListModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}

<div class="page-content">
    <div class="page-content-area">
        <div class="page-header">
            <h1>报表信息</h1>
        </div>
    </div>
    <div class="screen-area" style="height:40px">
        <form>
            <dl class="list-screen">
                <dt>报表名称：</dt>
                <dd>
                    @Html.TextBox("ReportName", Model.QueryInfo.ReportName, new { placeHolder = "报表名称" })
                </dd>
            </dl>
            <div class="result-btn">
                <button id="btnSearch" type="button" class="btn btn-xs btn-success btn-font">查询</button>
                <button id="btnAdd" type="button" class="btn btn-xs btn-success btn-font">新增</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="lighter mt30">
                报表列表
            </h4>
            <div class="hr hr-18 hr-double dotted"></div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>报表ID</th>
                        <th>报表Code</th>
                        <th>报表名称</th>
                        <th class="col-lg-1">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ReportList)
                    {
                        <tr>
                            <td>@item.ReportID</td>
                            <td>@item.ReportCode</td>
                            <td>@item.ReportName</td>
                            <td>
                                @Html.ActionLink("查看详情", "Info", "Report", new { area = "System", reportId = item.ReportID }, new { @class = "btn btn-link btn-font" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @{Html.RenderPartial("_PartialPaging", Model.PagingInfo);}
        </div><!-- /.span -->
    </div><!-- /.row -->
</div><!-- /.page-content-area -->


<script type="text/javascript">
    //查询
    $("#btnSearch").click(function () {
        var url = "@Url.Action("List", "Report", new { area = "System" })";
        url += "?ReportName=" + $("#ReportName").val();
        location.href = url;
    });
    $("#btnAdd").click(function () {
        location.href = "@Url.Action("Info", "Report", new { area="System"})";
    });
</script>