@{ Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Plan.ProjectUnitRequestListModel
@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}
<div class="page-content">
    <div class="page-content-area">
        <div class="page-header">
            <h1>
                招商租决
            </h1>
        </div><!-- /.page-header -->
        <div class="screen-area">
            <form>
                <dl class="list-screen">
                    <dt>项目名称：</dt>
                    <dd>@Html.DropDownList("ProjectId", ViewData["ProjectList"] as SelectList)</dd>
                </dl>
                <dl class="list-screen">
                    <dt>楼层：</dt>
                    <dd>
                        <select id="floorList" name="floorName">
                            <option value="0">请选择</option>
                        </select>
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>商铺类型：</dt>
                    <dd>
                        @Html.DropDownList("unitType", ViewData["UnitTypeList"] as SelectList, "请选择")
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>业态：</dt>
                    <dd>
                        @Html.DropDownList("bizType", ViewData["BizTypeList"] as SelectList, "请选择")
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>租决状态：</dt>
                    <dd>
                        @Html.DropDownList("requestStatus", ViewData["RequestStatusList"] as SelectList, "请选择")
                    </dd>
                </dl>
                <div class="result-btn">
                    <div class="btn-group">
                        <button class="btn btn-success btn-sm" id="btnSearch" type="button">查询</button>
                        <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="btnExportExcel" href="###">导出Excel文档</a></li>
                            <li class="divider"></li>
                            <li><a id="btnSchedule" href="###">查看招商进度</a></li>
                            <li><a id="btnTrack" href="###">跟踪招商情况</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-success btn-font" type="button" id="btnImportExcel">
                        导入招商租决
                    </button>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4 class="lighter mt30">
                    租决列表
                </h4>
                <div class="hr hr-18 hr-double dotted"></div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.SortLink("楼层", "FloorId")</th>
                            <th>@Html.SortLink("铺位编号", "UnitNumber")</th>
                            <th class="hidden-480">
                                @Html.SortLink("计租面积（平方米）", "RequestArea")
                            </th>
                            <th>@Html.SortLink("类型", "UnitType")</th>
                            <th>@Html.SortLink("业态", "BizTypeID")</th>
                            <th>@Html.SortLink("租决状态", "RequestStatus")</th>
                            <th>@Html.SortLink("品牌", "BrandName")</th>
                            <th>@Html.SortLink("租金", "StandardRent")</th>
                            <th>@Html.SortLink("物业费", "StandardMgmtFee")</th>
                            <th>收益合计（万元）</th>
                            <th>更新日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var request in Model.RequestList)
                        {
                            <tr>
                                <td>@request.BuildingName @request.FloorName</td>
                                <td>@request.UnitNumber</td>
                                <td>@request.RequestArea.ToString("#,##0.00")</td>
                                <td>@request.UnitTypeName</td>
                                <td>@request.BizTypeName</td>
                                <td>@request.RequestStatusName</td>
                                <td>@request.BrandName</td>
                                <td>@request.StandardRent.ToString("#,##0.00")</td>
                                <td>@request.StandardMgmtFee.ToString("#,##0.00")</td>
                                <td>@request.YearTotal.ToString("#,##0.00")</td>
                                <td>@request.UpdateDate.ToString("yyyy-MM-dd HH:mm")</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{Html.RenderPartial("_PartialPaging", Model.PagingInfo);}
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content-area -->
</div>

<script language="javascript" type="text/javascript" src="~/Scripts/ajaxupload.3.9.js"></script>

<script type="text/javascript">
    $(function () {
        var floorList = new window.nhhui.floorSelect({
            controlId: "floorList",
            url: "@Url.Action("GetBuildingGroup", "Project", new { area = "Ajax" })",
            projectId: $("#ProjectId").val(),
            buildingId: "@Model.QueryInfo.BuildingId",
            floorId: "@Model.QueryInfo.FloorId",
        });
        floorList.init();

        new nhhui.nhhtable({
            searchBtn: "btnSearch",
            sortBy: "@Model.QueryInfo.OrderBy",
            sortMode: "@Model.QueryInfo.OrderMode",
            url: "@Url.Action("List", "ProjectUnitRequest", new { area = "Plan" })",
            onInit: function () {
                return getRequestData();
            },
        }).init();

        //切换项目
        $("#ProjectId").change(function () {
            floorList.bindSelect($(this).val());
        });

        $("#btnExportExcel").click(function () {
            var url = "@Url.Action("Export", "RequestMgmt", new { area = "Plan" })";
            url += "?" + $.param(getRequestData());
            window.open(url);
            return true;
        });
        $("#btnSchedule").click(function () {
            var url = "@Url.Action("Schedule", "ProjectUnitRequest", new { area = "Plan" })";
            window.location.href = url + "?" + $.param(getRequestData());
            return true;
        });
        $("#btnTrack").click(function () {
            var url = "@Url.Action("Track", "ProjectUnitRequest", new { area = "Plan" })";
            window.location.href = url + "?" + $.param(getRequestData());
            return true;
        });
        var getRequestData = function () {
            var requestData = {};
            requestData.ProjectId = $("#ProjectId").val();
            requestData.BuildingId = floorList.getBuildingId();
            requestData.FloorId = floorList.getFloorId();
            requestData.UnitType = $("#unitType").val();
            requestData.BizType = $("#bizType").val();
            requestData.RequestStatus = $("#requestStatus").val();
            return requestData;
        };
    });

    //上传导入数据
    var button = $("#btnImportExcel");
    new AjaxUpload(button, {
        action: "@Url.Action("Import", "RequestMgmt", new { area = "Plan" })",
        name: "RequestExcelFile",
        onSubmit: function (file, ext) {
            button.text("上传中");
            this.disable();
        },
        onComplete: function (file, response) {
            this.enable();
            button.text("导入招商租决");
            alert(response);
        }
    });
</script>
