<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>立天唐人智能商业管理平台</title>
    @using NHH.Framework.Utility    @using NHH.Framework.Web
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @{
        Html.EnableClientValidation();
        var menus = UserMenuHelper.GetUserMenus(NHHWebContext.Current.UserID);
    }
    <style>
        .sort {
            background-image: url(/Content/assets/img/sort_both.png);
            width: 7px;
            height: 10px;
            display: inline-block;
            margin: 4px 0 0 3px;
        }

        .sort-asc span {
            background-image: url(/Content/assets/img/sort_asc.png);
        }

        .sort-desc span {
            background-image: url(/Content/assets/img/sort_desc.png);
        }
    </style>
</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>
        <div class="navbar-container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="@Url.Action("Index", "Home", new {Area=""})" class="logo ie6png inblock">立天唐人智能商业管理平台</a>
                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right leftAera" role="navigation">
                <ul class="nav ace-nav">
                    <li class="input-group" style="display:none">
                        <form class="search_form" method="get">
                            <input class="search-query" type="text" placeholder="Search" name="query">
                            <i class="search_icon"></i>
                        </form>
                    </li>
                    <!--<li class="full">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon full-icon"></i>
                        <!--<span class="badge">4</span>-->
                    <!--</a>
                    </li>-->
                    <li class="grey" style="display:none">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon list"></i>
                            <!--<span class="badge">4</span>-->
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon tasks-check"></i>
                                4项待完成任务
                            </li>
                            <li class="dropdown-footer">
                                <a href="#">
                                    查看全部任务信息
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="purple">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon bell"></i>
                            <span class="badge badgeTips badge-important" id="MessageCount1">0</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon bell-triangle"></i>
                                <span id="MessageCount2">0</span>个新消息
                            </li>

                            <li class="dropdown-footer">
                                <a href="@Url.Action("List", "UserMessage", new { Area = "Message", messageStatus=1 })">
                                    查看全部通知信息
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="green" style="display:none">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon email-icon"></i>
                            <span class="badge badgeTips badge-success">5</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon email-eco"></i>
                                5 条留言信息
                            </li>

                            <li class="dropdown-content ace-scroll" style="position: relative;">
                                <div class="scroll-track" style="display: none;"><div class="scroll-bar"></div></div><div class="scroll-content" style="max-height: 200px;">
                                    <ul class="dropdown-menu dropdown-navbar">
                                        <li>
                                            <a href="#">
                                                <img src="~/Content/assets/avatars/avatar1.png" class="msg-photo" alt="Fred's Avatar">
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="green">Fred:</span>
                                                        项目信息模块中项目管理信息需求文档已完成，上传至tb文件夹中 ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>10:09 am</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown-footer">
                                <a href="inbox.html">
                                    查看全部留言信息
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/Content/assets/avatars/user.jpg" alt="Jason's Photo">
                            <span class="user-info">
                                <small>欢迎您 ,</small>
                                @this.User.Identity.Name
                            </span>

                            <i class="ace-icon caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="@Url.Action("Detail", "User", new { area="System"})">
                                    <i class="ace-icon usercog"></i>
                                    个人信息
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Password", "User", new { area = "System" })">
                                    <i class="ace-icon setcog"></i>
                                    修改密码
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="@Url.Action("Logout", "Account", new {Area=""})">
                                    <i class="ace-icon logoutcog"></i>
                                    退出系统
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div>
        <!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        @*<script type="text/javascript">
                try { ace.settings.check('main-container', 'fixed') } catch (e) { }
            </script>*@

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    Welecome
                    <!-- /section:basics/sidebar.layout.shortcuts -->
                </div>

                <div class="sidebar-shortcuts-mini NHHStyle" id="sidebar-shortcuts-mini">
                    <span class="NHH">NHH</span>

                </div>
            </div><!-- /.sidebar-shortcuts -->
            <ul class="nav nav-list" style="top: 0px;">

                @{var mainitems = menus.Where(x => x.ParentId == null).OrderBy(x => x.SeqNo);}
                @foreach (var mi in mainitems)
                {
                    var subitems = menus.Where(x => x.ParentId == mi.MenuId).OrderBy(x => x.SeqNo);

                    <li class="hsub @(subitems.Any(x=>Request.Url.AbsolutePath.StartsWith(x.MenuUrl, StringComparison.OrdinalIgnoreCase))?"active open":"")">
                        <a href="@mi.MenuUrl" class="dropdown-toggle">
                            <i class="@mi.MenuIcon"></i>
                            <span class="menu-text">@mi.MenuName</span>
                            <b class="arrow"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">

                            @foreach (var si in subitems)
                            {
                                <li class="@(Request.Url.AbsolutePath.StartsWith(si.MenuUrl, StringComparison.OrdinalIgnoreCase)?"active":"")">
                                    <a href="@si.MenuUrl">
                                        <i class="menu-icon caret-right"></i>
                                        @si.MenuName
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul><!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            @RenderBody()
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="green bolder">NHH</span>
                        立天唐人智能商业管理平台 © @DateTime.Now.Year
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon up-icon"></i>
        </a>
    </div><!-- /.main-container -->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    @*<script src="../assets/js/bootstrap.min.js"></script>
        @Scripts.Render("~/Scripts/docs/assets/js")
        @Scripts.Render("~/Scripts/docs/assets/js/language/")
        <!-- page specific plugin scripts -->
        <script src="../assets/js/fuelux/data/fuelux.tree-sample-demo-data.js"></script>
        <script src="../assets/js/fuelux/fuelux.tree.min.js"></script>*@

    <!-- ace scripts -->
    @*<script src="../assets/js/ace-elements.min.js"></script>
        <script src="../assets/js/ace.min.js"></script>*@

    <!-- inline scripts related to this page -->
    @*<script type="text/javascript">
            jQuery(function ($) {

                $('#tree1').ace_tree({
                    dataSource: treeDataSource,
                    multiSelect: true,
                    loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
                    'open-icon': 'ace-icon tree-minus',
                    'close-icon': 'ace-icon tree-plus',
                    'selectable': true,
                    'selected-icon': 'ace-icon fa fa-check',
                    'unselected-icon': 'ace-icon fa fa-times'
                });

                $('#tree2').ace_tree({
                    dataSource: treeDataSource2,
                    loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
                    'open-icon': 'ace-icon fa fa-folder-open',
                    'close-icon': 'ace-icon fa fa-folder',
                    'selectable': false,
                    'selected-icon': null,
                    'unselected-icon': null
                });


                $('#tree1')
                .on('updated', function (e, result) {
                    //result.info  >> an array containing selected items
                    //result.item
                    //result.eventType >> (selected or unselected)
                })
                .on('selected', function (e) {
                })
                .on('unselected', function (e) {
                })
                .on('opened', function (e) {
                })
                .on('closed', function (e) {
                });

            });
        </script>*@

    <!-- the following scripts are used in demo only for onpage help and you don't need them -->
    @*<link rel="stylesheet" href="../assets/css/ace.onpage-help.css" />
        <link rel="stylesheet" href="../docs/assets/js/themes/sunburst.css" />*@

    @*<script type="text/javascript"> ace.vars['base'] = '..'; </script>*@

    @*<script src="../assets/js/ace/elements.onpage-help.js"></script>
        <script src="../assets/js/ace/ace.onpage-help.js"></script>
        <script src="../docs/assets/js/rainbow.js"></script>
        <script src="../docs/assets/js/language/generic.js"></script>
        <script src="../docs/assets/js/language/html.js"></script>
        <script src="../docs/assets/js/language/css.js"></script>
        <script src="../docs/assets/js/language/javascript.js"></script>*@

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        var ueditor_config_filesiteUrl = "@ParamManager.GetStringValue("ImageSite")";

        jQuery(function ($) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetMessageCount", "UserMessage", new { area = "Message" })",
                cache: false,
                dataType: "json",
                success: function (data) {
                    //alert(data);
                    $("#MessageCount1").html(data);
                    $("#MessageCount2").html(data);
                }
            });

            $('#id-disable-check').on('click', function () {
                var inp = $('#form-input-readonly').get(0);
                if (inp.hasAttribute('disabled')) {
                    inp.setAttribute('readonly', 'true');
                    inp.removeAttribute('disabled');
                    inp.value = "This text field is readonly!";
                } else {
                    inp.setAttribute('disabled', 'disabled');
                    inp.removeAttribute('readonly');
                    inp.value = "This text field is disabled!";
                }
            });


            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');


            $('#chosen-multiple-style').on('click', function (e) {
                var target = $(e.target).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });


            $('[data-rel=tooltip]').tooltip({ container: 'body' });
            $('[data-rel=popover]').popover({ container: 'body' });

            $('textarea[class*=autosize]').autosize({ append: "\n" });
            $('textarea.limited').inputlimiter({
                remText: '%n character%s remaining...',
                limitText: 'max allowed : %n.'
            });

            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-date').mask('9999-99-99');
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-eyescript').mask('~9.99 ~9.99 999');
            $(".input-mask-product").mask("a*-999-a999", { placeholder: " ", completed: function () { alert("You typed the following: " + this.val()); } });


            $("#input-size-slider").css('width', '200px').slider({
                value: 1,
                range: "min",
                min: 1,
                max: 8,
                step: 1,
                slide: function (event, ui) {
                    var sizing = ['', 'input-sm', 'input-lg', 'input-mini', 'input-small', 'input-medium', 'input-large', 'input-xlarge', 'input-xxlarge'];
                    var val = parseInt(ui.value);
                    $('#form-field-4').attr('class', sizing[val]).val('.' + sizing[val]);
                }
            });

            $("#input-span-slider").slider({
                value: 1,
                range: "min",
                min: 1,
                max: 12,
                step: 1,
                slide: function (event, ui) {
                    var val = parseInt(ui.value);
                    $('#form-field-5').attr('class', 'col-xs-' + val).val('.col-xs-' + val);
                }
            });


            //"jQuery UI Slider"
            //range slider tooltip example
            $("#slider-range").css('height', '200px').slider({
                orientation: "vertical",
                range: true,
                min: 0,
                max: 100,
                values: [17, 67],
                slide: function (event, ui) {
                    var val = ui.values[$(ui.handle).index() - 1] + "";

                    if (!ui.handle.firstChild) {
                        $("<div class='tooltip right in' style='display:none;left:16px;top:-6px;'><div class='tooltip-arrow'></div><div class='tooltip-inner'></div></div>")
                            .prependTo(ui.handle);
                    }
                    $(ui.handle.firstChild).show().children().eq(1).text(val);
                }
            }).find('a').on('blur', function () {
                $(this.firstChild).hide();
            });


            $("#slider-range-max").slider({
                range: "max",
                min: 1,
                max: 10,
                value: 2
            });

            $("#slider-eq > span").css({ width: '90%', 'float': 'left', margin: '15px' }).each(function () {
                // read initial values from markup and remove that
                var value = parseInt($(this).text(), 10);
                $(this).empty().slider({
                    value: value,
                    range: "min",
                    animate: true

                });
            });

            $("#slider-eq > span.ui-slider-purple").slider('disable'); //disable third item


            $('#id-input-file-1 , #id-input-file-2').ace_file_input({
                no_file: 'No File ...',
                btn_choose: 'Choose',
                btn_change: 'Change',
                droppable: false,
                onchange: null,
                thumbnail: false //| true | large
                //whitelist:'gif|png|jpg|jpeg'
                //blacklist:'exe|php'
                //onchange:''
                //
            });
            //pre-show a file name, for example a previously selected file
            //$('#id-input-file-1').ace_file_input('show_file_list', ['myfile.txt'])


            $('#id-input-file-3').ace_file_input({
                style: 'well',
                btn_choose: 'Drop files here or click to choose',
                btn_change: null,
                no_icon: 'ace-icon fa fa-cloud-upload',
                droppable: true,
                thumbnail: 'small' //large | fit
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
                            //Check an example below
                            //or examples/file-upload.html
                            return true;
                        }*/
                /**,before_remove : function() {
                            return true;
                        }*/,
                preview_error: function (filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function () {
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });


            //dynamically change allowed formats by changing allowExt && allowMime function
            $('#id-file-format').removeAttr('checked').on('change', function () {
                var whitelist_ext, whitelist_mime;
                var btn_choose
                var no_icon
                if (this.checked) {
                    btn_choose = "Drop images here or click to choose";
                    no_icon = "ace-icon fa fa-picture-o";

                    whitelist_ext = ["jpeg", "jpg", "png", "gif", "bmp"];
                    whitelist_mime = ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"];
                } else {
                    btn_choose = "Drop files here or click to choose";
                    no_icon = "ace-icon fa fa-cloud-upload";

                    whitelist_ext = null; //all extensions are acceptable
                    whitelist_mime = null; //all mimes are acceptable
                }
                var file_input = $('#id-input-file-3');
                file_input
                    .ace_file_input('update_settings',
                    {
                        'btn_choose': btn_choose,
                        'no_icon': no_icon,
                        'allowExt': whitelist_ext,
                        'allowMime': whitelist_mime
                    })
                file_input.ace_file_input('reset_input');

                file_input
                    .off('file.error.ace')
                    .on('file.error.ace', function (e, info) {
                        //console.log(info.file_count);//number of selected files
                        //console.log(info.invalid_count);//number of invalid files
                        //console.log(info.error_list);//a list of errors in the following format

                        //info.error_count['ext']
                        //info.error_count['mime']
                        //info.error_count['size']

                        //info.error_list['ext']  = [list of file names with invalid extension]
                        //info.error_list['mime'] = [list of file names with invalid mimetype]
                        //info.error_list['size'] = [list of file names with invalid size]


                        /**
                            if( !info.dropped ) {
                                //perhapse reset file field if files have been selected, and there are invalid files among them
                                //when files are dropped, only valid files will be added to our file array
                                e.preventDefault();//it will rest input
                            }
                            */


                        //if files have been selected (not dropped), you can choose to reset input
                        //because browser keeps all selected files anyway and this cannot be changed
                        //we can only reset file field to become empty again
                        //on any case you still should check files with your server side script
                        //because any arbitrary file can be uploaded by user and it's not safe to rely on browser-side measures
                    });

            });

            $('#spinner1').ace_spinner({ value: 0, min: 0, max: 200, step: 10, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
                .on('change', function () {
                    //alert(this.value)
                });
            $('#spinner2').ace_spinner({ value: 0, min: 0, max: 10000, step: 100, touch_spinner: true, icon_up: 'ace-icon fa fa-caret-up', icon_down: 'ace-icon fa fa-caret-down' });
            $('#spinner3').ace_spinner({ value: 0, min: -100, max: 100, step: 10, on_sides: true, icon_up: 'ace-icon fa fa-plus smaller-75', icon_down: 'ace-icon fa fa-minus smaller-75', btn_up_class: 'btn-success', btn_down_class: 'btn-danger' });
            //$('#spinner1').ace_spinner('disable').ace_spinner('value', 11);
            //or
            //$('#spinner1').closest('.ace-spinner').spinner('disable').spinner('enable').spinner('value', 11);//disable, enable or change value
            //$('#spinner1').closest('.ace-spinner').spinner('value', 0);//reset to 0


            //datepicker plugin
            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });

            //or change it into a date range picker
            $('.input-daterange').datepicker({ keyboardNavigation: false, forcParse: false, autoclose: true, format: "yyyy-mm-dd" });

            $(".knob").knob();

            var tag_input = $('#form-field-tags');
            try {
                tag_input.tag(
                    {
                        placeholder: tag_input.attr('placeholder'),
                        //enable typeahead by specifying the source array
                        source: ace.vars['US_STATES'], //defined in ace.js >> ace.enable_search_ahead
                        /**
                              //or fetch data from database, fetch those that match "query"
                              source: function(query, process) {
                                $.ajax({url: 'remote_source.php?q='+encodeURIComponent(query)})
                                .done(function(result_items){
                                  process(result_items);
                                });
                              }
                              */
                    }
                )

                //programmatically add a new
                var $tag_obj = $('#form-field-tags').data('tag');
                $tag_obj.add('Programmatically Added');
            } catch (e) {
                //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
                tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
                //$('#form-field-tags').autosize({append: "\n"});
            }


            //////////

            //typeahead.js
            //example taken from plugin's page at: https://twitter.github.io/typeahead.js/examples/
            var substringMatcher = function (strs) {
                return function findMatches(q, cb) {
                    var matches, substringRegex;

                    // an array that will be populated with substring matches
                    matches = [];

                    // regex used to determine if a string contains the substring `q`
                    substrRegex = new RegExp(q, 'i');

                    // iterate through the pool of strings and for any string that
                    // contains the substring `q`, add it to the `matches` array
                    $.each(strs, function (i, str) {
                        if (substrRegex.test(str)) {
                            // the typeahead jQuery plugin expects suggestions to a
                            // JavaScript object, refer to typeahead docs for more info
                            matches.push({ value: str });
                        }
                    });

                    cb(matches);
                }
            }

            $('input.typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                name: 'states',
                displayKey: 'value',
                source: substringMatcher(ace.vars['US_STATES'])
            });


            /////////
            $('#modal-form input[type=file]').ace_file_input({
                style: 'well',
                btn_choose: 'Drop files here or click to choose',
                btn_change: null,
                no_icon: 'ace-icon fa fa-cloud-upload',
                droppable: true,
                thumbnail: 'large'
            })

            //chosen plugin inside a modal will have a zero width because the select element is originally hidden
            //and its width cannot be determined.
            //so we set the width after modal is show
            $('#modal-form').on('shown.bs.modal', function () {
                $(this).find('.chosen-container').each(function () {
                    $(this).find('a:first-child').css('width', '210px');
                    $(this).find('.chosen-drop').css('width', '210px');
                    $(this).find('.chosen-search input').css('width', '200px');
                });
            })
            /**
                    //or you can activate the chosen plugin after modal is shown
                    //this way select element becomes visible with dimensions and chosen works as expected
                    $('#modal-form').on('shown', function () {
                        $(this).find('.modal-chosen').chosen();
                    })
                    */
            $(".table tr").click(function () {
                $(".table tr").removeClass("info");
                $(this).addClass("info");
            });
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/beforeunload.js" defer></script>
    <script type="text/javascript" src="~/Scripts/nhhui.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
