@model NHH.Models.Common.SysUser
<form id="FloorFormSave">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">×</span>
                    </button>
                    楼层编辑
                </div>
            </div>

            <div class="modal-body no-padding nothing">
                <div class="popWinStyle popWin-form">
                    <dl>
                        <dd>
                            <label for="inputWarning" class="col-xs-12 col-sm-3 control-label no-padding-right text-label">输入登录名:</label>
                            @Html.TextAreaFor(m => m.Password, new { id = "UserName", @class = "col-sm-6", style = "height:85px;" })
                            @*<input type="hidden" name="projectId" value="@Model.UserID" />*@
                            <span class="help-inline">
                                <span class="middle red" id="VaildTotalUserName">
                                </span>
                            </span>
                        </dd>
                        <dd>
                            <label for="inputWarning" class="col-xs-12 col-sm-3 control-label no-padding-right text-label"><span class="req">*</span>输入旧密码:</label>
                            @Html.TextAreaFor(m => m.Password, new { id = "Password", @class = "col-sm-6", style = "height:85px;" })
                            @*<input type="hidden" name="projectId" value="@Model.Password" />*@
                            <span class="help-inline">
                                <span class="middle red" id="VaildTotalPassword">
                                </span>
                            </span>
                        </dd>
                        <dd>
                            <label for="inputWarning" class="col-xs-12 col-sm-3 control-label no-padding-right text-label"><span class="req">*</span>输入新密码：</label>
                            @*@Html.TextAreaFor(m => m.TotalRentUnit, new { id = "TotalRentUnit", @class = "col-sm-6", style = "height:35px;" })*@
                            @*@Html.TextArea("NewPassword", new { id = "NewPassword", @class = "col-sm-6", style = "height:85px;" })*@
                            <input type="password" name="NewPassword" id="NewPassword" value="" class="col-sm-6" style="height:35px;">
                            <span class="help-inline">
                                <span class="middle red" id="VaildTotalNewPassword">
                                </span>
                            </span>
                        </dd>
                        <dd>
                            <label for="inputWarning" class="col-xs-12 col-sm-3 control-label no-padding-right text-label"><span class="req">*</span>再次输入新密码：</label>
                            @*@Html.TextAreaFor(m => m.TotalRentArea, new { id = "TotalRentArea", @class = "col-sm-6", style = "height:35px;" })*@
                            @*@Html.TextArea("NewPasswordAgain", new { id = "NewPasswordAgain", @class = "col-sm-6", style = "height:85px;" })*@
                            <input type="password" name="NewPasswordAgain" id="NewPasswordAgain" value="" class="col-sm-6" style="height:35px;">
                            <span class="help-inline">
                                <span class="middle red" id="VaildTotalPasswordAgain">
                                </span>
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="ui-btngroup">
                    <a href="javascript:void(0)" class="btn btn-xs btn-success btn-font mr20 btnSubmit" id="SubmitPassworkForm">保存</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-font btn-cancel" id="btnCancel" data-dismiss="modal" aria-hidden="true">取消</a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    @*@Html.HiddenFor(m => m.DepartmentID, new { id = "DepartmentIdEdit" })*@
</form>
<link href="~/Scripts/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript">
    $(function () {
        //提交
        $("#SubmitPassworkForm").click(function (e) {
            //进行密码非空验证
            var oldPassword = $("#Password").val();
            var userName = $("#UserName").val();
            var newPassword = $("#NewPassword").val();
            var newPasswordAgain = $("#NewPasswordAgain").val();
            if (userName == null && userName.replace(/^\s+|\s+$/g, ""))
            {
                $("#VaildTotalUserName").html("不能为空");
                e.preventdefault();
                return false;
            }
            if (oldPassword == null && oldPassword.replace(/^\s+|\s+$/g, "")) {
                $("#VaildTotalPassword").html("不能为空");
                e.preventdefault();
                return false;
            }
            if (newPassword == null && newPassword.replace(/^\s+|\s+$/g, "")) {
                $("#VaildTotalNewPassword").html("不能为空");
                e.preventdefault();
                return false;
            }
            if (newPasswordAgain == null && newPasswordAgain.replace(/^\s+|\s+$/g, "")) {
                $("#NewPasswordAgain").html("不能为空");
                e.preventdefault();
                return false;
            }
            if (newPassword != newPasswordAgain)
            {
                $("#NewPasswordAgain").html("两次密码不一致");
                e.preventdefault();
                return false;
            }
            //
            //var data = {};
            //data.FloorID = $("#floorId").val();
            //data.FloorDescription = $("#FloorDescription").val();
            //data.TotalRentArea = $("#TotalRentArea").val();
            //data.TotalRentUnit = $("#TotalRentUnit").val();
            //data.FloorMapFileName = $("#RenderingFileName").val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangePassword", "Account")",
                cache: false,
            dataType: "text",
            data: { UserName: userName, OldPassword: oldPassword, NewPassword: newPassword },
            success: function (result, status) {
                if (result != "success") {
                    $("#VaildTotalPassword").val("原始密码输入错误，请重新输入");
                }
                else
                {
                   $("#modal").html("").modal();
                }
            }
        });
        });
        //验证用户是否存在
        $("#UserName").blur(function () {
            var userName = $("#UserName").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("JudgeUserName", "Account")",
                cache: false,
            dataType: "text",
            //data: $("#employeeQueryfm").serialize(),
            data: { UserName: userName },
            success: function (result, status) {
                if (result != "success")
                {
                    $("#VaildTotalUserName").val("登录名不存在");
                }
            }
        });
     });
  });

</script>

