@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Official.Banner.BannerModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}

<div class="page-content">
    <div class="page-header">
        <h1>广告位编辑</h1>
    </div>
    <div class="rowA">
        <div class="col-xs-12">
            @using (Html.BeginForm("Edit", "Banner", new { area = "Official" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>广告位目标： </label>
                    <div class="col-sm-9">
                        @Html.DropDownList("BannerTarget", ViewData["BannerTargetList"] as SelectList, new { @class = "col-xs-10 col-sm-5" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>所属项目： </label>
                    <div class="col-sm-9">
                        @if (Model.BannerTarget == 1)
                        {
                            @Html.DropDownList("ProjectID", ViewData["ProjectList"] as SelectList, new { @class = "col-xs-10 col-sm-5" })
                        }
                        else if (Model.BannerTarget == 2)
                        {
                            @Html.DropDownList("ProjectID", ViewData["NhhProjectList"] as SelectList, new { @class = "col-xs-10 col-sm-5" })
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>广告位类型： </label>
                    <div class="col-sm-9">
                        @Html.DropDownList("BannerType", ViewData["BannerTypeList"] as SelectList, new { @class = "col-xs-10 col-sm-5" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>位置： </label>
                    <div class="col-sm-9">
                        @if (Model.BannerTarget == 1)
                        {
                            @Html.DropDownList("LocationID", ViewData["LocationList"] as SelectList, new { @class = "col-xs-10 col-sm-5" })
                        }
                        else if (Model.BannerTarget == 2)
                        {
                            @Html.DropDownList("LocationID", ViewData["nhhLocationList"] as SelectList, new { @class = "col-xs-10 col-sm-5" })
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <span class="req">*</span>简介： </label>
                    <div class="col-sm-9">
                        @Html.TextBox("Remark", null, new { @class = "col-xs-10 col-sm-5" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                    <div class="col-sm-9">
                        <button class="btn btn-xs btn-success btn-font" type="submit" id="btnSubmit">保存</button>
                    </div>
                </div>
                @Html.Hidden("BannerID", Model.BannerID)
            }
        </div>
    </div>
</div>

<div class="col-5" id="infoList">
    @{Html.RenderAction("BannerInfoList", new { area = "Official", bannerID = Model.BannerID });}
</div>

<script language="javascript" type="text/javascript">

    $("#BannerTarget").change(function() {
        var target = $("#BannerTarget").val();
        var locationID = $("#LocationID");

        $.ajax({
            url: "@Url.Action("GetLocationList", "Banner", new {area = "Official"})",
            data: { target: target },
            type: "get",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            cache: false,
            async: true,
            success: function(data) {
                locationID.empty();
                var optionValue = "";
                data.forEach(function(item) {
                    optionValue += "<option value='" + item.LocationID + "'>" + item.LocationName + "</option>";
                });
                locationID.append(optionValue);
            },
            complete: function() {
            },
            error: function(xh) {
                alert(xh.message);
            }
        });

        var ProjectId = $("#ProjectID");
        if (target === "2") {
            $.ajax({
                url: "@Url.Action("GetProjectList", "NHHCG", new {area = "Official"})",
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                cache: false,
                async: true,
                success: function (data) {
                    ProjectId.empty();
                    var optionValue = "<option value='0'>全部</option>";
                    data.forEach(function (item) {
                        optionValue += "<option value='" + item.ProjectID + "'>" + item.ProjectName + "</option>";
                    });
                    ProjectId.append(optionValue);
                },
                complete: function () {
                },
                error: function (xh) {
                    alert(xh.message);
                }
            });
        } else if (target === "1") {
            $.ajax({
                url: "@Url.Action("GetAllProject", "Project", new { area = "Ajax" })",
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                cache: false,
                async: true,
                success: function (data) {
                    ProjectId.empty();
                    var optionValue = "";
                    data.forEach(function (item) {
                        optionValue += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                    });
                    ProjectId.append(optionValue);
                },
                complete: function () {
                },
                error: function (xh) {
                    alert(xh.message);
                }
            });
        }
    });
</script>